<div id="main-div">
  <div id="hero">
    <%= image_tag "build23.png", :width => "500" %>
    <%= image_tag "ff.jpg", :width => "500" %>
  </div>
  <!--! /#hero -->
  <div id="slogan">
    <h2>A Federated Cloud Platform</h2>

    <h2>for Mobile Data-Centric Service Development and Sharing</h2>
  </div>
  <div id="main" role="main" class="clearfix">
    <section class="intro clearfix">
      <div class="limiter">
        <div class="item">
          <a href="#">
            <h3>Scalable</h3>
            <p>Scalable in both web services and data sets.</p>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <h3>Aggregation of data</h3>
            <p>Traverse the data of devices and their sensors.</p>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <h3>Rich in visualization</h3>
            <p>Multiple chart visualization, complicated queries.</p>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
</div>