
/* COLOR GLOSSARY
------------------------------------------------------------------*/
$lightest-gray: #F3F3F3;
$lighter-gray: #E5E5E5;
$light-gray: #CDCFCF;
$gray: #A0A0A0;
$dark-gray: #666;

$green: green;
$red: #C70001;
$white: #FFF;

/* layout Variables
------------------------------------------------------------------*/
$width-screen: 880px;


/* HELPER  CLASSES
------------------------------------------------------------------*/
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.tac, .center {text-align:center;} .tal{text-align:left;} .tar{text-align:right;}
.r, .right { float: right;} .l, .left{ float: left; }
.block-tablet { margin-top: 2em; padding: 2em 0; }
.hidden { display:none;}

@mixin clear{ clear:both }

@mixin mir2{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
@mixin mir{
    letter-spacing: -1000em; text-indent: -1000em;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin button($color: $red, $text_color: $white) {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  // font: 18px/100% Arial, Helvetica, sans-serif;
  padding: 1em 2em ;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  @include rounded();
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));

  color: $text_color !important;
  font-weight: bold;
  border: solid 1px darken($color, 18%);
  background: $color;
  @include gradient(saturate($color, 15%), darken($color, 15%));

  &:hover {
    text-decoration: none;
    background: saturate($color, 10%);
    @include gradient(saturate($color, 5%), darken($color, 5%));
  }

  &:active {
    position: relative;
    top: 1px;
    color: saturate($color, 15%);
    @include gradient(saturate($color, 15%), lighten($color, 15%));
  }
}


/* CSS Jazz
------------------------------------------------------------------*/
/* a {-webkit-transition: all 0.8s;} */
.post-meta-bar a.tag { -moz-border-radius: 1ex; -webkit-border-radius: 1ex; border-radius: 1ex;  }
#navigation-entries ul a { -moz-border-radius: 1ex; -webkit-border-radius: 1ex; border-radius: 1ex;}
.shadow { -webkit-box-shadow: 1px 0 10px rgba(0,0,0,.3);-moz-box-shadow: 1px 0 10px rgba(0,0,0,.3); box-shadow: 1px 0 10px rgba(0,0,0,.3); }
.round-min { -moz-border-radius: 1ex; -webkit-border-radius: 1ex; border-radius: 1ex; }

#content-side-bar a, #social a, #navigation-entries a:hover {opacity:0.5;}
#content-side-bar a:hover, #social a:hover {opacity:0.8;}

/* responsiveness
---------------------------------------------

  @media screen and (max-width: 650px) {
    #blog-title, #social {
        display: none;
        }
    }
*/
