/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./jqplot
 *= require_tree ./datepicker
 *= require_tree .
 */
// @import "twitter/bootstrap";

.main-div {
  margin-top: 80px;
}

.inner {
  margin: 0 20px 0 20px;
}

#header {
  background-color: #85000A;
  color: #FFF;
}

#main-div {
  margin-top: 80px;
}

.sensor-tree-div {
  margin-bottom: 5px;
  padding: 5px, 2px, 5px, 2px;
}

.actions {
  margin-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 15px 0;
  border-top: 1px solid #E5E5E5;
  background-color: #85000A;
  color: #FFF;
}
