/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./jqplot
 *= require_tree ./datepicker
 *= require_tree .
 */
@import "twitter/bootstrap";

.main-div {
  margin-top: 60px;
  margin-bottom: 51px;
}

.inner {
  margin: 0 20px 0 20px;
}

body {
  background: #E2E2E2;
}

img {
  margin: 0;
}

#header {
  background-color: #85000A;
  color: #FFF;
}

#hero {
  margin: 0 auto;
  width: 1011px;
}

#main-div {
  margin-top: 60px;
  margin-bottom: 51px;
}

.sensor-tree-div {
  margin-bottom: 5px;
  padding: 5px, 2px, 5px, 2px;
}

.actions {
  margin-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 15px 0;
  border-top: 1px solid #E5E5E5;
  background-color: #85000A;
  color: #FFF;
}


.hidden {
  display: none;
}

.links {
  float: left;
  clear: both;
}


#slogan {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#slogan h2 {
  font-size: 26px;
  line-height: 1.33333333333333em;
  color: #343433;
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
}

.intro {
  display: block;
  width: 100%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.intro {
  background-color: #EEE;
}
.clearfix {
  zoom: 1;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.limiter {
  max-width: 1125px;
  margin: 0 auto;
}

.intro .item {
  width: 33%;
  float: left;
  padding: 0;
}

.home .intro .item {
  padding: 1.5em 6.25%;
  border-bottom: 1px solid #EEE;
}

.intro a {
  display: block;
  padding: 32px 0;
  margin: 0 46px;
  text-decoration: none;
  color: black;
}

.title-link a {
  text-decoration: none;
  color: white;
}

.container {
  margin-top: 60px;
  margin-bottom: 61px;
}
