<!DOCTYPE html>
<html>
<head>
  <title>Carnegie Mellon Silicon Valley - Sensor Data Storage <%= @page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="page-wrapper">
    <div id="page-header">
      <div id="wordmark">
          <h2>
            <a href="http://cmu.edu" title="Carnegie Mellon University">
              <span>Carnegie Mellon University</span>
            </a>
          </h2>
      </div>
    </div>

      <div class="" style="display: block;">
        <%= yield %>
      </div>
    </div>

    <div id="page-footer">
      <p>Copyright © Carngie Mellon University - Silicon Valley Campus.</p>
    </div>
  </div>

</body>

</html>
